<template name="projectEditProjectPost">
	{{#with projectPost}}
	<form>
  <div class="row">
    <div class="large-4 columns">
      <label>Titel
        <input class="projectTitle" type="text" placeholder="Titel" value="{{title}}" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Inhoud
        <textarea class="projectContent" rows="10" placeholder="Inhoud">{{content}}</textarea>
      </label>
    </div>
  </div>
</form>
{{/with}}
<div class="centerButton">
 	<a href="/projects/{{this._id}}" class="editProjectPost button success">Edit Post</a>
 </div>
</template>