<template name="projectEdit">
  {{#with project}}
	<form>
  <div class="row">
    <div class="large-4 columns">
      <label>Titel
        <input class="projectTitle" type="text" placeholder="Titel" value="{{title}}" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Korte inhoud
        <textarea class="projectSummary" placeholder="Inhoud" value="{{content}}"></textarea>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Inhoud</label>
    </div>
  </div>
</form>
{{/with}}
<div class="centerButton">
 	<a href="/projects" class="editProject button">Edit project</a>
 </div>

<form id="upload" action="/upload" method="POST" enctype="multipart/form-data"> 
  <fieldset> 
    <legend>HTML File Upload</legend> 
    <input type="hidden" id="MAX_FILE_SIZE" name="MAX_FILE_SIZE" value="300000" /> 
    <div> 
      <label for="fileselect">Files to upload:</label> 
      <input type="file" id="fileselect" name="fileselect[]" multiple="multiple" /> 
      <div id="filedrag">or drop files here</div> 
    </div> 
    <div id="submitbutton"> 
    <button type="submit">Upload Files</button> 
    </div> 
  </fieldset> 
</form>
</template>