<template name="projectPage">
<table>
  <tr>
	   <div class="container">
    <td>
       <p class="title">{{this.title}}</p>
	     <p>{{#markdown}}{{this.summary}}{{/markdown}}</p>
	     <hr>
    </td>
     </div>
  </tr>
</table>  
<table>
{{#with project}}
	{{#each posts}}
  <tr>
		<div class="container alternate" style="position: relative;">
  		<td>
        <p class="title">{{this.title}}<div style="position: absolute; right: 0; top: 10px;"><a href="/projects/{{../_id}}/{{this._id}}" class="button tiny">Edit</a><a href="#" class="delete-project-post button alert tiny">Delete</a></div></p>
  		  <p>{{#markdown}}{{this.content}}{{/markdown}}</p>
      </td>
	 </div>
  </tr>
	{{/each}}
  {{/with}}
</table>
{{#if new_project}}
<form>
	<div class="row">
    <div class="large-4 columns">
      <label>Titel
        <input class="postTitle" type="text" placeholder="Titel" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Project
        <input class="projectTitle" value="{{title}}" type="text" placeholder="Titel" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Inhoud
        <textarea class="postContent" placeholder="Inhoud"></textarea>
      </label>
    </div>
  </div>
</form>
<div class="centerButton">
  <a href="#" class="insertPost button">Post</a>
</div>
{{/if}}
{{#unless new_project}}
<div class="centerButton">
 	<a href="#" class="newPost button" id="add-post">New post</a>
 </div>
 {{/unless}}
</template>