<template name="projectss">
	<table>
		{{#each projects}}
		<tr>
			<div class="container alternate">
				<td><p><a href="/projects/{{this._id}}" class="title">{{this.title}}</a></p>
				<p>{{this.summary}}</p>
				</td>
			</div>
				<div style="float: right; margin-top: -90px;">
				<a href="#" class="button alert tiny delete-project">Delete</a>
				</div>
		</tr>
		{{/each}}
	</table>
	<div class="centerButton">
 		<a href="/projects/add" class="button">New project</a>
	</div>
</template>

<template name="projects">
	<div class="container" style="text-align: center;">
		{{#each projects}}
			<a class="appear text-color" id="{{this._id}}" href="/projects/{{this._id}}">
				<div class="project-position">
					<div class="project-title">
						{{this.title}}
					</div>
					<p></p>
					<div class="project-summary">
						{{this.summary}}
					</div>
					<div>
						<div id="{{this._id}}label">
							<a href="/projects/{{this._id}}/edit" id="{{this._id}}targ" class="button-invisible">Edit</a>
							<a href="#" id="{{this._id}}target" class="button-invisible button-margin">Delete</a>
						</div>
					</div>
				</div>
			</a>
		{{/each}}
	</div>
	<div class="centerButton">
		<a href="/projects/add" class="button">New project</a>
	</div>
</template>

