<template name="projectss">
	<table>
		{{#each projects}}
		<tr>
			<div class="container alternate">
				<td><p><a href="/projects/{{this._id}}" class="title">{{this.title}}</a></p>
				<p>{{this.summary}}</p>
				</td>
			</div>
				<div style="float: right; margin-top: -90px;">
				<a href="#" class="button alert tiny delete-project">Delete</a>
				</div>
		</tr>
		{{/each}}
	</table>
	<div class="centerButton">
 		<a href="/projects/add" class="button">New project</a>
	</div>
</template>

<template name="projects">
<div class="container" style="text-align: center;">
	{{#each projects}}
		<a style="color: black; text-align: left" href="/projects/{{this._id}}"><div style="display: inline-block; margin: 15px 30px 15px 0; box-shadow: 3px 3px 3px 3px #ccc; width: 260px;
		height: 230px; background-color: #f7f6f0;">
			<div style="font-weight: bold; font-size: 18px; line-height: 27px; max-height: 54px; margin:10px;">
				{{this.title}}
				<div>
				<a href="#" class="button alert tiny delete-project">Delete</a>
				</div>
			</div>
			<p></p>
			<div style="font-size: 14px; line-height: 18px; margin:10px;">
				{{this.summary}}
			</div>
		</div></a>
	{{/each}}
</div>
	<div class="centerButton">
 		<a href="/projects/add" class="button">New project</a>
	</div>
</template>

