/* line 1, ../../.sass/components/_PWHeader.scss */
body {
  margin: 0;
  padding: 0;
}
/* line 4, ../../.sass/components/_PWHeader.scss */
body .header {
  width: 100%;
  height: 200px;
  background-image: url(/meteorjsimage.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* line 12, ../../.sass/components/_PWHeader.scss */
body .headerTitle {
  text-align: center;
  color: #ffffff;
  background-color: #000000;
}

/* line 1, ../../.sass/components/_PWContainer.scss */
.container {
  margin-top: 20px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 8, ../../.sass/components/_PWContainer.scss */
.school-container {
  float: right;
}

@media (max-width: 1000px) {
  /* line 27, ../../.sass/components/_PWContainer.scss */
  .school-container {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media (min-width: 768px) {
  /* line 33, ../../.sass/components/_PWContainer.scss */
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 38, ../../.sass/components/_PWContainer.scss */
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  /* line 43, ../../.sass/components/_PWContainer.scss */
  .container {
    width: 1170px;
  }
}
/* line 47, ../../.sass/components/_PWContainer.scss */
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* line 54, ../../.sass/components/_PWContainer.scss */
.container-over-mij {
  margin-top: 20px;
}

/* line 62, ../../.sass/components/_PWContainer.scss */
.foto-container {
  text-align: center;
}

/* line 65, ../../.sass/components/_PWContainer.scss */
.foto {
  border-radius: 5px;
  width: 170px;
  height: 170px;
}

/* line 1, ../../.sass/components/_PWMenu.scss */
.menu {
  text-align: center;
}

/* line 1, ../../.sass/components/_PWButtons.scss */
.centerButton {
  text-align: center;
}

/* line 1, ../../.sass/components/_PWTitles.scss */
.title {
  font-size: 25px;
}

/* line 1, ../../.sass/components/_PWLines.scss */
.line {
  border-top: dotted 2px;
}

/* line 1, ../../.sass/components/_PWAlternate.scss */
.alternate {
  margin-top: 10px;
  margin-bottom: 15px;
}

/* line 5, ../../.sass/components/_PWAlternate.scss */
table {
  border: none;
  width: 100%;
}

/* line 9, ../../.sass/components/_PWAlternate.scss */
td {
  width: 100%;
}

/* line 1, ../../.sass/components/_PWProjects.scss */
.text-color {
  color: #000000;
  text-align: left;
}

/* line 5, ../../.sass/components/_PWProjects.scss */
.project-position {
  display: inline-block;
  margin: 15px 30px 15px 0;
  box-shadow: 3px 3px 3px 3px #cccccc;
  width: 260px;
  height: 230px;
  background-color: #f7f6f0;
  vertical-align: top;
}

/* line 14, ../../.sass/components/_PWProjects.scss */
.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  max-height: 54px;
  margin: 10px;
}

/* line 21, ../../.sass/components/_PWProjects.scss */
.project-summary {
  font-size: 14px;
  line-height: 18px;
  margin: 10px;
}

/* line 31, ../../.sass/components/_PWProjects.scss */
.hover-label {
  background-color: black;
  margin-top: 123px;
  height: 33px;
  opacity: 0.5;
}

/* line 37, ../../.sass/components/_PWProjects.scss */
.button-invisible {
  visibility: hidden;
}
