<template name="home">
<table>
 {{#each posts}}
	<tr>
		<div class="container alternate" style="position: relative;">
			<td><p class="title">{{this.title}}<div style="position: absolute; right: 0; top: 10px;"><a href="/post/{{this._id}}" class="button tiny">Edit</a><a href="#" class="delete-post button alert tiny">Delete</a></div></p>
				{{#markdown}}{{this.content}}{{/markdown}}
			<div>{{this.createdAt}}</div>
			</td>
		</div>
	</tr>
	{{/each}}
</table>
<div class="centerButton">
 <a href="/post" class="button success">New blogpost</a>
</div>
</template>