.text-color{
	color: #000000;
	text-align: left;
}
.project-position{
	display: inline-block;
	margin: 15px 30px 15px 0;
	box-shadow: 3px 3px 3px 3px #cccccc;
	width: 260px;
	height: 230px;
	background-color: rgb(247,247,247); //#f7f6f0
	vertical-align: top;
}
.project-title{
	font-weight: bold;
	font-size: 18px;
	line-height: 27px;
	max-height: 54px;
	margin: 10px;
}
.project-summary{
	font-size: 12px;
	line-height: 18px;
	margin: 10px;
	overflow: hidden;
}
// .text-color:hover{
// 	.hover-buttons{

// 	}	
// }
.hover-label{
	width: 260px;
	height: 33px;
	position: absolute;
	background-color: #333;
	
}	

.button-invisible{
	visibility: hidden;
}
.button-margin{
	margin-left: -5px;
}

.hover-post-it:hover{
	box-shadow: 0 0 5px 5px #cccccc;
	color: #000000;
}